@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ==================== ROOT VARIABLES =================== */

:root {
    --background-color: #000;
    --placeholder-bg: #222;
    --preloader-color: rgba(79, 79, 79, .4);
    --preloader-color-secondary: rgba(255, 255, 255, .9);
    --icon-color: #fff;
    --icon-stroke-color: #4f4f4f;
    --main-grey: #54585a;
    --color-main-primary: #bb8d2a;
    --gradient-to: #2a2c2d;
    --main-color: #dab159;
    --grey-color: #898d8d;
    --darker-grey-color: #54585a;
    --main-color-hover: #e3bf70;
    --color-border: #999;
    --stroke: #3e393f;

    --background-color-one: rgba(0, 0, 0, .35);
    --background-color-two: rgba(0, 0, 0, .5);
    --background-color-three: rgba(255, 255, 255, .5);
    --color-primary: #dab25a;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --tw-prose-body: #374151;
    --tw-prose-headings: #111827;
    --tw-prose-lead: #4b5563;
    --tw-prose-links: #111827;
    --tw-prose-bold: #111827;
    --tw-prose-counters: #6b7280;
    --tw-prose-bullets: #d1d5db;
    --tw-prose-hr: #e5e7eb;
    --tw-prose-quotes: #111827;
    --tw-prose-quote-borders: #e5e7eb;
    --tw-prose-captions: #6b7280;
    --tw-prose-kbd: #111827;
    --tw-prose-code: #111827;
    --tw-prose-pre-code: #e5e7eb;
    --tw-prose-pre-bg: #1f2937;
    --tw-prose-th-borders: #d1d5db;
    --tw-prose-td-borders: #e5e7eb;
    --tw-prose-invert-body: #d1d5db;
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: #9ca3af;
    --tw-prose-invert-links: #fff;
    --tw-prose-invert-bold: #fff;
    --tw-prose-invert-counters: #9ca3af;
    --tw-prose-invert-bullets: #4b5563;
    --tw-prose-invert-hr: #374151;
    --tw-prose-invert-quotes: #f3f4f6;
    --tw-prose-invert-quote-borders: #374151;
    --tw-prose-invert-captions: #9ca3af;
    --tw-prose-invert-kbd: #fff;
    --tw-prose-invert-code: #fff;
    --tw-prose-invert-pre-code: #d1d5db;
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: #4b5563;
    --tw-prose-invert-td-borders: #374151;
}

/* ================= STYLES ================= */

* {
    margin: 0;
    padding: 0;
}

i {
    padding: 15px;
    font-size: 1.2rem;
    color: var(--darker-grey-color);
}

a {
    text-decoration: none;
}

.alumni {
    font-family: "Alumni Sans", serif;
}

#main-header {
    width: 100%;
    height: 110px;
}

.top-nav {
    text-align: center;
}

.top-nav ul li {
    display: inline-block;
    cursor: pointer;
    padding: 1.2rem;
    margin-top: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--grey-color);
}

.top-nav ul li:hover {
    color: var(--darker-grey-color);
}

.scroll {
    width: 100%;
    height: 180px;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.times {
    font-size: 1.7rem;
    cursor: pointer;
}

.brand-name {
    font-family: sans-serif;
    letter-spacing: 10px;
    font-size: 1.9rem;
    color: var(--grey-color);
}

.buy-tickets {
    font-size: 1.6rem;
    cursor: pointer;
}

.tickets {
    padding: 0.6rem;
    background-color: var(--color-primary);
    color: var(--background-color);
    font-weight: 700;
    cursor: pointer;
    border-radius: 2px;
}

.tickets:hover {
    background-color: var(--main-color-hover);
}

#video-section {
    width: 100%;
    margin-top: 180px;
}

.video {
    width: 100%;
    height: auto;
}